@model IEnumerable<AdminPanelDevice.Models.DeviceType>

@{
    ViewBag.Title = "DeviceOpen";
}
<br /><br />
<form action="/Device/InsertDevice" method="post" class="container" enctype="multipart/form-data" id="needs-validation" novalidate>
    <legend style="margin-left: -17px">Device Panel</legend>
    <div class="row">

        <div class="col-md-3 mb-5">
            <label for="validationCustom01">Name</label>
            <input type="text" name="Name" class="form-control" id="DeviceName" placeholder="Name">
        </div>
        <div class="col-md-2 mb-2">
            <label for="validationCustom01">ManuFacture</label>
            <input type="text" name="ManuFacture" class="form-control" id="DeviceManuFacture" placeholder="ManuFacture">
        </div>
        <div class="col-md-2 mb-2">
            <label for="validationCustom02">Model</label>
            <input type="text" name="Model" class="form-control" id="DeviceModel" placeholder="Model">
        </div>
        <div class="col-md-2 mb-2">
            <label for="validationCustom01">Purpose</label>
            <input type="text" name="Purpose" class="form-control" id="DevicePurpose" placeholder="Purpose">
        </div>
        <div class="row">
            <input name="mib_file" type="file" id="FileUpload" , accept="file/*" style="display: none">
            <label for="FileUpload" class="btn btn-primary" style="margin-left: 25px;margin-top: 25px;">Browser</label>
            <button class="btn btn-success" id="DeviceInsert" type="submit" style="margin-top: 25px; margin-left:30px;">Add</button>
        </div>
    </div>
</form>
<br /><br />
@Html.Partial("DevicePanel")
