
@foreach (var item in ViewBag.SensorDeviceCount)
{
    <table id="sensor_table">
        <tr>
            <td>
                <div style="width:1900px; height:200px; margin-left:2px;margin-top:7px;">
                    <div id="chart@(item.WalkID)" style="height:200px; width:99%;"></div>
                </div>
            </td>
        </tr>
    </table>
}
<div id="chartContainer" style="height: 370px; width: 100%;"></div>

@*<script src="~/Content/ScriptView/Chart.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/Hubs"></script>

<script src="~/Content/ScriptView/canvasjs.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var SensorDeviceCount = @Html.Raw(Json.Encode(ViewBag.SensorDeviceCount));
        var SensorGetResult = @Html.Raw(Json.Encode(ViewBag.SensorGetResult));
        var ctx, options, data;
        var sensorResult, sensorYellow, sensorGreen;
        var SensorChart;
        var chart;
        
        var Charts = [];
        SensorDeviceCount.map(function (item) {
            var PointChartSensor = [];
            var k = 0;
             sensorResult = SensorGetResult.filter(function (sensor) {
                return sensor.WalkID === item.WalkID;
            });
             sensorYellow = SensorGetResult.filter(function (sensor) {
                return sensor.WalkID === item.WalkID && sensor.ResultCorrectError==="Yellow";
            });
             sensorGreen = SensorGetResult.filter(function (sensor) {
                return sensor.WalkID === item.WalkID && sensor.ResultCorrectError === "Green";
            });

            sensorResult.map(function (val) {
                k++;
                return PointChartSensor.push({ x:k, y: parseFloat(val.Value) });
            });

            //var gradient = ctx.createLinearGradient(0, 0, 0, 200);
            //gradient.addColorStop(0, 'rgba(250,174,50,1)');
            //gradient.addColorStop(1, 'rgba(250,174,50,0)');

            //var gradients = ctx.createLinearGradient(0, 0, 0, 200);
            //gradients.addColorStop(0, 'rgba(0,128,0,0.4)');
            //gradients.addColorStop(1, 'rgba(0,128,0,0)');

            chart = new CanvasJS.Chart("chart" + item.WalkID, {
                theme: "light2",
                 animationEnabled: false,
                 zoomEnabled: true,
                 axisY: {
                     includeZero: false
                },
                axisX: {
                    valueFormatString: ""
                },
                data: [{
                    type: "spline",
                    color: "rgba(54,158,173,.7)",
                    dataPoints: PointChartSensor
                }]
            });
            chart.render();

            Charts.push({ charts: chart, dataPoint: PointChartSensor, WalkID: item.WalkID, chartLenght: PointChartSensor.length, startLenght: PointChartSensor.length});

        var con = $.hubConnection(); // shecdomebit washla daxatva xazebis
            var hub = con.createHubProxy('hubMessage');
            var ChartLine =1;
        hub.on('onHitRecorded', function (i) {
            if (i.GetTrap == "get") {
               updateDataChart(data,i);
            }
        });
        con.start();

            function updateDataChart(data, value) {
          
                updateChart = Charts.filter(function (ch) {
                    return ch.WalkID === value.WalkID
                });

                k++;
              //  alert(k + "   " + updateChart[0].dataPoint.length)
                var lenght = updateChart[0].dataPoint.length+1;
                //  alert(lenght);
                updateChart[0].chartLenght++;
                updateChart[0].dataPoint.push({ x: updateChart[0].chartLenght, y: parseFloat(value.Value) });
                if (updateChart[0].startLenght < updateChart[0].dataPoint.length) {
                    updateChart[0].dataPoint.shift();
                }
                updateChart[0].charts.render();
        };
        });

    });
</script>
