
@{
    ViewBag.Title = "GetChart";
}
@*<button class="btn btn-warning" id="chartmodalopen">Chart</button>*@

<div id="showChartSensor"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $.post('/LiveGet/ChartSensorLive', {}, function (Response) {
            $('#showChartSensor').html("");
            $('#showChartSensor').html(Response);
        });
    });
</script>