
@{
    ViewBag.Title = "LiveGet";
}

@*<button class="btn btn-warning" id="clicklive">LiveGet</button>*@

<div id="liveGetSend" style=" background-color: #fff;"></div>

<div id="load_walk" name="Load">
    <img src="/image/loading.gif" id="load" alt="" title="Wplease Wait...">
</div>
<link href="~/Content/Style/Load.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#load_walk').css("display", "block");
        $.post('/LiveGet/GetLiveSensor', {}, function (Response) {
            $('#liveGetSend').html("");
            $('#liveGetSend').html(Response);
            $('#load_walk').css("display", "none");
        });
    });
</script>

<style>
    body {
        background-color: #333;
    }
</style>