@model AdminPanelDevice.Models.WalkTowerDevice
<div style="margin-left:3px;">
    <table class="table table-bordered" style="width:20%;  margin-bottom:0px;">
        <thead>
            <tr>
                <th></th>
                <th colspan="2" style="text-align:center" id="liveDeviceName">სარელეო-rable 610 - RX</th>
            <tr>
                <th></th>
                <th colspan="2" style="text-align:center">Get</th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center">Neme</th>
                <th style="text-align:center">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="50"><div style="text-align:center;" class="rotate" id="liveTowerName"></div></td>
                @foreach (var item in Model)
                {
                    <td></td>
                    <td></td>
                }
            </tr>
        </tbody>
    </table>

</div>
