
@{
    ViewBag.Title = "LiveGetTrap";
}

<button class="btn btn-warning" id="clicklive">LiveGet</button>

<div id="liveGetSend"></div>

@*<div style="margin-left:3px;">
    <table class="table table-bordered" style="width:20%;  margin-bottom:0px;">
        <thead>
            <tr>
                <th></th>
                <th colspan="2" style="text-align:center" id="liveDeviceName">სარელეო-rable 610 - RX</th>
            <tr>
                <th></th>
                <th colspan="2" style="text-align:center">Get</th>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center">Neme</th>
                <th style="text-align:center">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="50"><div style="text-align:center;" class="rotate" id="liveTowerName"></div></td>

            </tr>
        </tbody>
    </table>

</div>*@


<style>
    .rotate {
        width: 10px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    th.rotate {
        height: 80px;
        white-space: nowrap;
        position: relative;
    }

        th.rotate > div {
            transform: rotate(90deg);
            position: absolute;
            left: 0;
            right: 0;
            top: 10px;
            margin: auto;
        }
</style>
<div style="margin-left:50px;">