<li>
    <div class="widget-container widget_categories widget_categories_filter boxed">
        <div class="inner">
            <ul>
                Device Panel
                <li class="first gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="device_name" id="device_name" placeholder="Device Name" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                <li class="current-menu-item gradient "><div class="input_wrap"><input class=" deviceInput inputField gradient" name="manufacture_name" id="manufacture_name" placeholder="ManuFacture" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                <li class="gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="model_name" id="model_name" placeholder="Model" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                <li class="gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="purpose_name" id="purpose_name" placeholder="Purpose" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                <li>
                    <form action="" method="post"  style="width:107%;height:19px;" class="container" enctype="multipart/form-data" id="needs-validation" novalidate>
                        <input name="mib_file" type="file" id="FileUploadMib" accept="file/*" style="display: none">
                        @*<span class="btn btn-send" style="opacity: 0.8; height:20px; padding-right:0px; margin-left:-16px;">*@
                               <label class="btn btn-send" for="FileUploadMib" style="height:20px; width:50%;line-height:6px;margin-top:-3px;margin-left:-16px;">Browser</label>
                            @*<input type="button" for="FileUploadMib" id="brows" value="Browser" class="btn btn-send" style="height:20px; width:50%;line-height:6px;margin-top:-3px;margin-left:-16px;">*@
                        @*</span>*@
                        @*<span class="btn btn-send" style="opacity: 0.8; height:20px; padding-right:0px;margin-top:3px;margin-left:-16px;">
            <label class="btn btn-send" id="add_file" style="height: 25px; width: 100%;font-size:11px; line-height:20px;margin-left:-900px">Add</label>
        </span>*@
                        <input type="button" id="preset_save" value="Save" class="btn" style="height:20px; width:50%;line-height:6px;margin-top:-3px; margin-left:13px;">
                    </form>
                    @*<input type="button" id="preset_save" value="Save" class="btn" style="height:20px; width:52px;line-height:6px;margin-top:-3px;">*@
                </li>
            </ul>
        </div>
    </div>
</li>
<script src="~/Content/ScriptView/DeviceGroup.js"></script>