@model  IEnumerable<AdminPanelDevice.Models.Group>


    @foreach (var item in Model)
    {
        <li id="group_li">
            <span id="group_name@(item.GroupNameID)" @*style="width:260px; margin-left:-7px;"*@ value="@item.GroupName">@item.GroupName</span>
            <span id="add_device@(item.GroupNameID)" value="@(item.GroupNameID)"style="width: 60px;margin-left: 155px; margin-top: -20px">Add Device</span>
        </li>

    }

@*<script src="~/Content/ScriptView/DeviceGroup.js"></script>*@