@model  IEnumerable<AdminPanelDevice.Models.Group>

    @foreach (var item in Model)
    {
        <li id="group_li" value="@(item.GroupNameID)" style="margin-top:2px; max-width:100%">
            <span id="group_name@(item.GroupNameID)" value="@item.GroupName">@item.GroupName</span>
            <span id="add_device@(item.GroupNameID)" value="@(item.GroupNameID)" style="width: 24%; margin-left: 76%; margin-top: -20px">Add Device</span>
            <ul id="deviceGroupName@(item.GroupNameID)" class="devInfo" style="display:none"></ul>
        </li>
    }