@model IEnumerable<AdminPanelDevice.Models.ScanningInterval>

@foreach (var item in Model)
{
    <li id="time_interval_value" style="width:79px; margin-top:0px;" value="@item.Interval">@item.Interval</li>
}
