
@{
    ViewBag.Title = "Index";
    var countrieName = ViewBag.countrieName;
}

<link href="~/Content/Style/style.css" rel="stylesheet" />
<link href="~/Content/Style/main.css" rel="stylesheet" />
<link href="~/Content/Style/display.css" rel="stylesheet" />
<link href="~/Content/Style/DeviceInput.css" rel="stylesheet" />
@*<link href="~/Content/Style/cusel.css" rel="stylesheet" />*@
@*<link href="~/Content/Style/CheckedStyle.css" rel="stylesheet" />*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.7/css/jsplumbtoolkit-defaults.css" rel="stylesheet" />

<div id="leftDiv">
    <!-- Information about device -->
    <div id="deviceInfo">
        <ul id="menu">
            <!-- Device name -->
            <li>
                <span id="DevName">Device </span>
             
                <div id="deviceNameGroup" style="display:none; margin-top:1px;">
                    <input class="deviceInput inputField gradient" id="add_group_name" placeholder="Add Group Name" value="" type="text" hidefocus="true" style="outline: none; color: white; width:69%;">
                    <button type="button" class="btn btn-default" id="add_group" style="width:30% ;height: 20px;" >Add Group</button>
                    <ul id="deviceName" class="devInfo" style="display:block"></ul>
                </div>
            </li>
            <!-- List of available interfaces -->
            <li>
                <span id="countrie">Countries</span>
                <ul id="countries" class="devInfo">
                    <li class="countries">
                        Countrie
                    </li>
                </ul>
            </li>
            <!-- List of available displays -->
            <li>
                <span id="tower_menu">Tower</span>
                <ul id="tower_drag" class="devInfo">
                    <li class="tower">
                        Tower
                    </li>
                </ul>
            </li>
            <input type="button" id="clear_diagram" name="clear" value="Clear Diagram" class="btn">
            @*<li>
                <span id="Output">Output</span>
                <ul id="output" class="devInfo">
                   
                </ul>
            </li>*@
           
            @*<li>
                <span id="Stream">Streams</span>
                <ul id="streams" class="devInfo">
                   
                </ul>
            </li>*@

            <div id="add_device_partial">
            </div>
        </ul>
    </div>
    <div id="settingsDiv">

    </div>
</div>

<div id="mainDiv" name="mainDiv">

</div>

<div id="load_walk" name="Load">
    <img src="/image/loading.gif" id="load" alt="" title="Wplease Wait...">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade col-lg-12" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content device_setting_style">
            <div class="modal-header" style="height:20px; margin-top:-5px;background: url(/image/comment-bg2.png) repeat;">
                <span class="header" id="device_settings_name">Tower</span>
                <div style="margin-top:-8px;margin-left:170px;">
                    <input class="deviceInput inputField gradient" name="description_value_search" id="description_value_search" placeholder="Search" value="" type="text" hidefocus="true" style="outline: none; color: white;width:155px;">
                    <button type="button" class="btn btn-default btn-sm" id="walk_search_click" style="width: 30px;height: 20px; margin-left: -3px">
                        <span class="glyphicon glyphicon-search" style="margin-top: -3px; margin-left: -2px"></span>
                    </button>
                </div>
                <button type="button" class="close" id="modal_hiden" data-dismiss="modal">&times;</button>
            </div>

            <div class="titileGroup" style="height:21px; margin-top:1px;">
                <table>
                    <tr>
                        <td style="width:18%;">
                            <input class="deviceInput inputField gradient port_ip" id="tower_ip" placeholder="IP" value="" type="text" hidefocus="true" style="color: #b8c0c8; font-size:12px; width:150px; margin-top:-5px;">
                        </td>
                        <td style="width:8%;">
                            <input class="deviceInput inputField gradient port_ip" id="tower_port" placeholder="Port" value="161" type="text" hidefocus="true" style="margin-left:5px; color: #b8c0c8; font-size:12px; width:60px;margin-top:-5px;">
                        </td>
                        <td id="select_version" style="width:9%;">
                            <ul class="select_version" id="" style=" min-width: 54px; min-height: 18px;padding: 4px; width: 60px; margin-left:5px;">
                                <li>
                                    <span class="type" value="" id="walk_version">V2</span><span class="arrow" style=" height:19px;">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="select_list_version" id="select_list_version" style="width:26px; display: none;height:60px; margin-left:17px; z-index:1;">
                                <div id="interva_partial" class="walk_list_version" style="width:42px;margin-left:-12px;">
                                    <li style="margin-top:-1px;" value="V1">V1</li>
                                    <li style="margin-top:-1px;" value="V2">V2</li>
                                    <li style="margin-top:-1px;" value="V3">V3</li>
                                </div>
                            </ul>
                        </td>
                        <td style="width:3%;">
                            <span class="version_settings" id="version_setting" style="margin-top: 3px; position: absolute"><img src="/Icons/pignon.png" alt="Version Settings" title="Version Settings" style="width:17px; height:17px;" data-toggle="modal" data-target="#VersionModal" /></span>
                        </td>
                        <td style="width:7.5%;">
                            <ul id="timButtons">
                                <li><input type="button" id="walk_send" value="Walk" class="btn" style="height:20px;margin-left:5px; width:52px;margin-top:-3px;"></li>
                            </ul>
                        </td>
                        <td style="width:6.8%;">
                            <div class="input_styled checklist pull-left" style="margin-top:-2px;position:absolute; height:20px;">
                                <div class="rowCheckbox walk_check">
                                    <div class="custom-checkbox" id="">
                                        <input id="walk_checked" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="walk_checked_add" style="background-size:19px;"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="adapterInput" id="preset_add_remove" style="width:14%">
                            <ul class="Type typeSelect" style="height: 22px;width: 101px;min-width:46px;">
                                <li>
                                    <span class="type" id="Type">
                                        <input type="text" name="presetName" class="presetName Text" id="preset_name" placeholder="Preset Name" style="width:88%;margin-top: -5px; margin-left: -5px; border:none;" autocomplete="off">
                                    </span>
                                    <span class="arrow">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="TypeList typeDropDownList" id="preset_list_remove" style="width:101px; display: none; z-index:1;">
                                <div id="interva_partial" class="preset_list_remove">

                                </div>
                            </ul>
                        </td>
                        <td style="width:13.4%;">
                            <ul id="timButtons">
                                <li><input type="button" id="preset_save" value="Save" class="btn" style="height:20px; width:52px;line-height:6px;margin-top:-3px;"></li>
                            </ul>
                        </td>
                        <td style="width:4%">
                            <div class="input_styled checklist pull-left" style="margin-top:-6px; height:20px;">
                                <div class="rowCheckbox map_check_all" style="margin-top:3px;">
                                    <div class="custom-checkbox" id="">
                                        <input name="map_checked" id="map_checked_all" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="map_checked_add_all" value="" class="" style="background-size:19px;"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:4%;">
                            <div class="input_styled checklist pull-left" style="margin-top:-6px;height:20px;">
                                <div class="rowCheckbox log_check_all" style="margin-top:3px;">
                                    <div class="custom-checkbox" id="">

                                        <input name="log_checked" id="log_checked_all" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="log_checked_add_all" value="" class="" style="background-size:19px;"></label>

                                    </div>
                                </div>
                            </div>
                        </td>
                        @* ///////////////////////////////////////////////////////////////////////////                            *@
                        <td class="adapterInput" id="inerval_add_remove" style="width:13%;">
                            <ul class="Type typeSelect" style="height: 22px;width: 101px;min-width:46px;">
                                <li>
                                    <span class="type" id="Type">
                                        <input type="text" class="Text" id="interval_number" placeholder="Interval Add" style="width:88%;margin-top: -5px; margin-left: -5px; border:none;" autocomplete="off">
                                    </span>
                                    <span class="arrow">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="TypeList typeDropDownList" id="interval_list_remove" style="width: 101px; display: none; z-index:1;">
                                <div id="interva_partial" class="interval_list_remove">

                                </div>
                            </ul>
                        </td>
                        <td style="width:10%;">
                            <ul id="timButtons">
                                <li><input type="button" id="interval_add" value="Add" class="btn" style="height:20px; width:52px;line-height:6px; margin-top:-3px;"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <ul class='custom-menu' style="display:none;">
                <span style="font-size: 11px;margin-left:2px;">GPS Select</span>
                <li data-action="Yes">Yes</li>
                <li data-action="No">No</li>
            </ul>

            <div class="titileGroup" style="height:21px;margin-left:1px;">
                <table style="table-layout: fixed;width: 100%">
                    <tr class="streamsInfo" id="header_device">
                        <td style="width:60%;">
                            <div class="descriptionDiv">Name</div>
                        </td>
                        <td style="width:30%;">
                            <div class="descriptionDiv">Value</div>
                        </td>
                        <td style="width:5%;">
                            <div class="descriptionDiv">Map</div>
                        </td>
                        <td style="width:5%;">
                            <div class="descriptionDiv">Log</div>
                        </td>
                        <td style="width:13%;">
                            <div class="descriptionDiv">Scanning Interval</div>
                        </td>
                        <td style="width:10%;">
                            <div class="descriptionDiv">Set</div>
                        </td>
                        <td style="width:11.5%;">
                            <div class="descriptionDiv">Get</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="device_settings">
            </div>
        </div>

    </div>
</div>


<!-- Modal  SET -->
<div class="modal fade" id="SetModal" role="dialog">
    <div class="modal-dialog" @*style="margin-left:-20%;"*@>

        <!-- Modal content-->
        <div class="modal-content setModal">
            <div class="modal-body">
                <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:106%;">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Description</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_description"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">OID</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_oid"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Value</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_value"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">DataType</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_datatype"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Set Value</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="set_send_value">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-left:325px; margin-top:3px;">
                    <button type="button" class="btn btn-info" id="SendSet" data-dismiss="modal" style="width:50px; height:22px;line-height:9px; font-size:11px; ">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:50px; height:22px; line-height:9px; font-size:11px;">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal  Version -->
<div class="modal fade" id="VersionModal" role="dialog">
    <div class="modal-dialog" @*style="margin-left:-20%;"*@>

        <!-- Modal content-->
        <div class="modal-content versionModal" style="margin-left:20%; margin-top:20%;">
            <div class="modal-body">
                <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:110%;">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Read Community</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="read_community"style="color: white;background-color: #515862" value="public">
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Write Community</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="write_community" style="color:white;background-color: #515862" value="private">
                            </td>
                        </tr>
                    </table>
                </div>
                @*<div style="margin-left:165px; margin-top:3px;">
                    <button type="button" class="btn btn-info" id="SendCommunity" data-dismiss="modal" style="width:50px; height:22px;line-height:9px; font-size:11px;margin-left:65px;">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:50px; height:22px; line-height:9px; font-size:11px;">Close</button>
                </div>*@
            </div>

        </div>
    </div>
</div>

@*</div>*@


<script>
    //var counter;
    $(document).ready(function () {

        $('.devInfo').hide();


        window.onload = loadDiagram();

        $(window).on("beforeunload", function (e) {
            //saveDiagram();
        });


        $('#countrie').click(function () {
            $("#countries").animate({ height: 'toggle', opacity: 'toggle' }, 300);
        });

        $('#countries li').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('#deviceName li').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('#tower_menu').click(function () {
            $("#tower_drag").animate({ height: 'toggle', opacity: 'toggle' }, 300);
        });

        $('.tower').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        function foo() {
            $('.foo').each(function () {
                //Making dropped elements draggable again
                $(this).draggable({
                    //containment: $(this).parent(),
                    stack: '.foo',
                    grid: [10, 10],
                    drop: function (event, ui) {
                        var pos = ui.draggable.offset(), dPos = $(this).offset();
                    },
                    drag: function () {
                        //jsPlumb.addToDragSelection($('.foo'));
                        var draggedItemId = $(this).attr('id');
                        $('.contextmenu').hide();
                        $(this).css({ 'z-index': '11' });
                        $(".class" + draggedItemId).css({ 'z-index': '15' });
                        //saveDiagram();
                    },
                    stop: function () {
                        var draggedItemId = $(this).attr('id');
                        $(this).css({ 'z-index': '0' });
                        $(".class" + draggedItemId).css({ 'z-index': '10' });
                        if ($(this).position().left < 0) {
                            $(this).css({ 'left': '0' });
                        }
                        if ($(this).position().top < 0) {
                            $(this).css({ 'top': '0' });
                        }
                        saveDiagram();
                    }
                });
            });
        }

        var xCoordinate = 0;
        var yCoordinate = 0;
        var elem;
        var diagramLenght = $('.foo').length;
        $("#mainDiv").droppable({
            drop: function (ev, ui) {

                //if (!ui.draggable.hasClass('foo') && !ui.draggable.hasClass('display')) {
                var pos = ui.draggable.offset(), dPos = $(this).offset();
                var droppedTop = ui.position.top - $(this).offset().top + $('#mainDiv').scrollTop();
                var droppedLeft = ui.position.left - $(this).offset().left + $('#mainDiv').scrollLeft();
                var ids = $(this).attr("id");

                if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('countries')) {
                    diagramLenght = $('.foo').length;
                    var Class = ui.draggable.attr("class");
                    var title = ui.draggable.text().trim();
                    var item = $('<table class="foo elementTable ' + Class + '" name="' + title + '" id="' + (diagramLenght + 1) + '" style="left: ' + droppedLeft + 'px; top: ' + droppedTop + 'px;"><tr class="tableHeader"><th class="thClass"><span class="header' + (diagramLenght + 1) + '">' + title + '</span><span class="settings"><span id="state' + (diagramLenght + 1) + '"style="display:none">State</span><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr><tr><td class="add' + (diagramLenght + 1) + '"><span class="addList' + (diagramLenght + 1) + '"></span></td></tr></table>');
                    $(this).append(item);
                    diagramLenght++;
                    foo();
                    saveDiagram();
                }
                if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('tower')) {
                    diagramLenght = $('.foo').length;
                    var Class = ui.draggable.attr("class");
                    var title = ui.draggable.text().trim();
                    var item = $('<table class="foo elementTable device_list_name' + (diagramLenght + 1) + ' ' + Class + ' name="' + title + '" id="' + (diagramLenght + 1) + '" style="left: ' + droppedLeft + 'px; top: ' + droppedTop + 'px;"><tr class="tableBody tableHeader"  id="tower_' + (diagramLenght + 1) + '"><th class="thClass"><span class="header' + (diagramLenght + 1) + '">' + title + (diagramLenght + 1) + '</span><span class="GpsSetting" id="GpsSetting"><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr><tr><td class="add' + (diagramLenght + 1) + '"><ul id="dropDivs" name="dropDivs"class="ui-droppable"></ul></td></tr></table>');
                    $(this).append(item);
                    diagramLenght++;
                  //  foo();
                    addPoints();
                    saveDiagram();
                }

                $(".tower").droppable({
                    containment: '.foo',
                    drop: function (ev, ui) {
                        //diagramLenght = $('.foo').length;
                        //if (!ui.draggable.hasClass('foo') && !ui.draggable.hasClass('display')) {
                        var pos = ui.draggable.offset(), dPos = $(this).offset();
                        var droppedTop = ui.position.top - $(this).offset().top + $('#mainDiv').scrollTop();
                        var droppedLeft = ui.position.left - $(this).offset().left + $('#mainDiv').scrollLeft();

                        if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('device_list')) {
                            var Class = ui.draggable.attr("class");
                            var idTarget = ev.target.id;
                            var title = ui.draggable.text().trim(35);
                            var height = $(".add" + idTarget).height();
                            var lenght = $('#dropDivs').length;
                            var id = $('.foo').length;

                            if (title.length > 35) {
                                var titleName = title.substr(0, title.length - (title.length - 31)) + '...';
                            }
                            else {
                                titleName = title;
                            }
                            droppedTop = height;
                            var item = $('<table class="foo elementTable tableBodyTower tower_name' + (id + 1) + '" ' + Class + '" name="' + title + '" id="' + (id + 1) + '" title="Tower' + idTarget + '" style="left: ' + 3 + 'px; top: ' + droppedTop + 'px;min-width: 245px;"><tr class="tableBodyTowers tableHeader" style="display:inline-table" id="towerDevice' + (idTarget) + '_' + (id + 1) + '"><th class="thClass"><span value="' + title + '" class="device_header' + (id + 1) + '">' + titleName + '</span><span class="device_settings"><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings"data-toggle="modal" data-target="#myModal" /></span></th></tr></table>');

                            $(".add" + idTarget).height(height + 35);
                            $(".add" + idTarget).append(item);
                            //diagramLenght++;
                            //foo();
                            //addPointsTower();
                            saveDiagram();
                            //$("table tbody").sortable({
                            //    update: function (event, ui) {
                            //        $(this).children().each(function (index) {
                            //            $(this).find('td').last().html(index + 1)
                            //        });
                            //    }
                            //});
                        }
                    }
                });
            }
        });

        function getElemByCoordinates(x, y) {
            elem = document.elementFromPoint(x, y);
        }

        $('.device_list').draggable();

        //$('#mainDiv').mouseup(function (e) {
        //    alert(e.target);
        //});

        //$("#mainDiv").on("mouseup", function (e) {
        //    var target = e.target;
        //});


        $('#device_drag td').click(function () {
            alert(":(");
        });
        //$(document).on('click touchend', '.tower', function () { // add device setting open
        //    parentId = $(this).closest($(".foo")).attr("id");
        //    alert(parentId);

        //});
        //$("#mainDiv .foo").draggable();
        //var mouseDown = false;
        //var prevCoords = { x: 0, y: 0 };

        //$('#AddGroup').click(function () {
        //    saveDiagram();
        //    alert("save");
        //});

        //$("#mainDiv").mousedown(function (e) {
        //    mouseDown = !$(e.target).closest('.foo').length;
        //}).mousemove(function (e) {
        //    var currentScrollX = $('#mainDiv').scrollLeft();
        //    var currentScrollY = $('#mainDiv').scrollTop();
        //    if (mouseDown) {
        //        $('#mainDiv').scrollLeft(currentScrollX + prevCoords.x - e.clientX)
        //        $('#mainDiv').scrollTop(currentScrollY + prevCoords.y - e.clientY)
        //    };
        //    prevCoords.x = e.clientX;
        //    prevCoords.y = e.clientY;
        //}).mouseup(function () {
        //    mouseDown = false;
        //});

        //$('.foo').on('drag', function () {
        //    alert("sa");
        //    if ($(this).left() == 0) {
        //        return false;
        //    }
        //});
    });

</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->

@*<style>
    .dropdown-wrap,
    .widget_search.styled,
    .widget_profile {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        margin-bottom: 50px;
    }

    .widget_search .inner {
        padding: 14px;
    }

    .widget_search .input_wrap {
        margin-right: 90px;
        position: relative;
    }

    .widget_search .btn,
    .newsletterBox .btn {
        float: right;
        margin-top: 1px;
    }

    .widget_search .input_wrap input {
        height: 33px;
        padding-left: 30px;
    }

    .widget_search input::-webkit-input-placeholder {
        color: #a4a4a4;
    }

    .widget_search input:-moz-placeholder {
        color: #a4a4a4;
    }

    .widget_search .input_icon {
        background: url(images/icons/search.png);
        width: 16px;
        height: 16px;
        left: 10px;
        top: 9px;
        right: auto;
    }
</style>*@

