@{
    ViewBag.Title = "Index";
    var countrieName = ViewBag.countrieName;
}

<link href="~/Content/Style/style.css" rel="stylesheet" />
<link href="~/Content/Style/main.css" rel="stylesheet" />
<link href="~/Content/Style/display.css" rel="stylesheet" />
<link href="~/Content/Style/DeviceInput.css" rel="stylesheet" />
@*<link href="~/Content/Style/cusel.css" rel="stylesheet" />*@
@*<link href="~/Content/Style/CheckedStyle.css" rel="stylesheet" />*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.7/css/jsplumbtoolkit-defaults.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="leftDiv">
    <!-- Information about device -->
    <div id="deviceInfo">
        <ul id="menu">
            <!-- Device name -->
            <li>
                <span id="DevName">Device </span>

                <div id="deviceNameGroup" style="display:none; margin-top:1px;">
                    <input class="deviceInput inputField gradient" id="add_group_name" placeholder="Add Group Name" value="" type="text" hidefocus="true" style="outline: none; color: white; width:69%;">
                    <button type="button" class="btn btn-default" id="add_group" style="width:29% ;height: 20px;">Add Group</button>
                    <ul id="deviceName" class="devInfo" style="display:block"></ul>
                </div>
            </li>
            <!-- List of available interfaces -->
            <li>
                <span id="countrie">Countries</span>
                <ul id="countries" class="devInfo">
                    <li class="countries">
                        Countrie
                    </li>
                </ul>
            </li>
            <!-- List of available displays -->
            <li>
                <span id="tower_menu">Tower</span>
                <ul id="tower_drag" class="devInfo">
                    <li class="tower">
                        Tower
                    </li>
                </ul>
            </li>
            <input type="button" id="clear_diagram" name="clear" value="Clear Diagram" class="btn">
            <input type="button" id="start_log" name="log" value="Log" class="btn">
            <input type="button" id="start_live_get" name="Get" value="Live Get" class="btn">
            <input type="button" id="open_map" name="map" value="Map" class="btn">
            <input type="button" id="_preset_diagram" name="" value="Preset" class="btn">

            <div id="add_device_partial"></div>
            <div id="preset_group_name" style="display:none">
                <ul class="Type typeSelect" id="diagram_list_view" style="height:38px;">
                    <li style="width:77%;" id="diagramPresetList">
                        <span class="type" id="Type" style=" background: linear-gradient(to bottom, rgb(17, 17, 17) 0%,rgba(84, 84, 84, 0.25) 32%,rgba(61,61,61,1) 64%,rgba(19, 19, 19, 0.29) 100%);">
                            <input type="text" name="presetName" class="presetName Text" id="preset_name_txt" placeholder="Preset Name" style="width: 94%; margin-left: -18px;background: linear-gradient(to bottom, rgb(17, 17, 17) 0%,rgba(84, 84, 84, 0.25) 32%,rgba(61,61,61,1) 64%,rgba(19, 19, 19, 0.29) 100%);" autocomplete="off">
                        </span>
                        <span class="arrow" style="margin-top: -20px;background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(84,84,84,1) 32%,rgba(61,61,61,1) 64%,rgba(19,19,19,1) 100%);width:20px;">
                            <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                        </span>
                    </li>
                    <input type="button" id="preset_save_diagram" value="Save" class="btn" style="height: 22px; width: 22%; line-height: 6px; margin-top: -34px; margin-left: 79%; background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(84,84,84,1) 32%,rgba(61,61,61,1) 64%,rgba(19,19,19,1) 100%);">
                </ul>
                <ul class="preset_group_list_remove" id="preset_group_list_remove" style="width: 14.3%;z-index: 1;display: none; margin-left: 5px; margin-top: -10px; border: none;">
                    <div id="interva_parti" class="preset_diagram_list_remove">

                    </div>
                </ul>
            </div>

</div>
    <div id="settingsDiv">
    </div>
</div>

<div id="mainDiv" name="mainDiv">

</div>

<div id="load_walk" name="Load">
    <img src="/image/loading.gif" id="load" alt="" title="Wplease Wait...">
</div>
<ul class='remove-menu' style="display:none;position:absolute">
    <li data-action="RemoveDevice">Remove Device</li>
</ul>

<ul class='remove-tower-menu' style="display:none;position:absolute">
    <li data-action="RemoveTower">Remove Tower</li>
</ul>
<!-- Modal -->
<div id="myModal" class="modal fade col-lg-12" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content device_setting_style">
            <div class="modal-header" style="height:20px; margin-top:-5px;background: url(/image/comment-bg2.png) repeat;">
                <span class="header" id="device_settings_name">Tower</span>
                <div style="margin-top:-8px;margin-left:160px;">
                    <input class="deviceInput inputField gradient" name="description_value_search" id="description_value_search" placeholder="Search" value="" type="text" hidefocus="true" style="outline: none; color: white;width:155px;">
                    <button type="button" class="btn btn-default btn-sm" id="walk_search_click" style="width: 29px;height: 20px; margin-left: -3px">
                        <span class="glyphicon glyphicon-search" style="margin-top: -3px; margin-left: -2px"></span>
                    </button>
                </div>
                <button type="button" class="close" id="modal_hiden" data-dismiss="modal">&times;</button>
            </div>

            <div class="titileGroup" style="height:21px; margin-top:1px;">
                <table>
                    <tr>
                        <td style="width:2%;">
                            <input class="deviceInput inputField gradient port_ip" id="tower_ip" placeholder="IP" value="" type="text" hidefocus="true" style="color: #b8c0c8; font-size:12px; width:150px; margin-top:-5px;">
                        </td>
                        <td style="width:1%;" id="opneIPLink">
                           <a target="_blank" href="http://" style="margin-left:2px;">Link</a>
                        </td>
                        <td style="width:1%;">
                            <input class="deviceInput inputField gradient port_ip" id="tower_port" placeholder="Port" value="161" type="text" hidefocus="true" style="margin-left:5px; color: #b8c0c8; font-size:12px; width:60px;margin-top:-5px;">
                        </td>
                        <td id="select_version" style="width:8%;">
                            <ul class="select_version" id="" style=" min-width: 54px; min-height: 18px;padding: 4px; width: 60px; margin-left:5px;">
                                <li>
                                    <span class="type" value="" id="walk_version">V2</span><span class="arrow" style=" height:19px;">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="select_list_version" id="select_list_version" style="width:26px; display: none;height:60px; margin-left:17px; z-index:1;">
                                <div id="interva_partial" class="walk_list_version" style="width:42px;margin-left:-12px;">
                                    <li style="margin-top:-1px;" value="V1">V1</li>
                                    <li style="margin-top:-1px;" value="V2">V2</li>
                                    <li style="margin-top:-1px;" value="V3">V3</li>
                                </div>
                            </ul>
                        </td>
                        <td style="width:6%;">
                            <span class="version_settings" id="version_setting" style="margin-top: 3px; position: absolute"><img src="/Icons/pignon.png" alt="Version Settings" title="Version Settings" style="width:17px; height:17px;" data-toggle="modal" data-target="#VersionModal" /></span>
                        </td>
                        <td style="width:4.5%;">
                            <ul id="timButtons">
                                <li><input type="button" id="walk_send" value="Walk" class="btn" style="height:20px;margin-left:5px; width:52px;margin-top:-3px;"></li>
                            </ul>
                        </td>
                        <td style="width:7.8%;">
                            <div class="input_styled checklist pull-left" style="margin-top:-2px;position:absolute; height:20px;">
                                <div class="rowCheckbox walk_check">
                                    <div class="custom-checkbox" id="">
                                        <input id="walk_checked" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="walk_checked_add" style="background-size:19px;"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="adapterInput" id="preset_add_remove" style="width:6%">
                            <ul class="Type typeSelect" style="height: 22px;width: 101px;min-width:46px;">
                                <li>
                                    <span class="type" id="Type">
                                        <input type="text" name="presetName" class="presetName Text" id="preset_name" placeholder="Preset Name" style="width:88%;margin-top: -5px; margin-left: -5px; border:none;" autocomplete="off">
                                    </span>
                                    <span class="arrow">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="TypeList typeDropDownList" id="preset_list_remove" style="width:101px; display: none; z-index:1;">
                                <div id="interva_partial" class="preset_list_remove">

                                </div>
                            </ul>
                        </td>
                        <td style="width:4%;">
                            <input type="button" id="preset_send" value="Send" class="btn" style="height:20px; width:52px;line-height:6px;margin-top:-3px;">
                        </td>
                        <td style="width:16.4%;">
                            @*<ul id="timButtons">*@
                                @*<li>*@<input type="button" id="preset_save" value="Save" class="btn" style="height:20px; width:52px;line-height:6px;margin-top:-3px;">@*</li>*@
                            @*</ul>*@
                        </td>
                        <td style="width:5%">
                            <div class="input_styled checklist pull-left" style="margin-top:-6px; height:20px;">
                                <div class="rowCheckbox map_check_all" style="margin-top:3px;">
                                    <div class="custom-checkbox" id="">
                                        <input name="map_checked" id="map_checked_all" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="map_checked_add_all" value="" class="" style="background-size:19px;"></label>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td style="width:14%;">
                            <div class="input_styled checklist pull-left" style="margin-top:-6px;height:20px;">
                                <div class="rowCheckbox log_check_all" style="margin-top:3px;">
                                    <div class="custom-checkbox" id="">

                                        <input name="log_checked" id="log_checked_all" type="checkbox" value="" hidefocus="true" style="outline: none;" class="gradient">
                                        <label id="log_checked_add_all" value="" class="" style="background-size:19px;"></label>

                                    </div>
                                </div>
                            </div>
                        </td>
                        @* ///////////////////////////////////////////////////////////////////////////                            *@
                        <td class="adapterInput" id="inerval_add_remove" style="width:13%;">
                            <ul class="Type typeSelect" style="height: 22px;width: 101px;min-width:46px;">
                                <li>
                                    <span class="type" id="Type">
                                        <input type="text" class="Text" id="interval_number" placeholder="Interval Add" style="width:88%;margin-top: -5px; margin-left: -5px; border:none;" autocomplete="off">
                                    </span>
                                    <span class="arrow">
                                        <img src="/image/arrow_drop_down_white.png" width="100%" height="100%" alt="arrow" title="arrow">
                                    </span>
                                </li>
                            </ul>
                            <ul class="TypeList typeDropDownList" id="interval_list_remove" style="width: 101px; display: none; z-index:1;">
                                <div id="interva_partial" class="interval_list_remove">

                                </div>
                            </ul>
                        </td>
                        <td style="width:10%;">
                            <ul id="timButtons">
                                <li><input type="button" id="interval_add" value="Add" class="btn" style="height:20px; width:52px;line-height:6px; margin-top:-3px;"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <ul class='custom-menu' style="display:none;">
                <span style="font-size: 11px;margin-left:2px;">GPS Select</span>
                <li data-action="Yes">Yes</li>
                <li data-action="No">No</li>
            </ul>
            <div class="titileGroup" style="height:21px;margin-left:1px;">
                <table style="table-layout: fixed;width: 100%">
                    <tr class="streamsInfo" id="header_device">
                        <td style="width:25%;">
                            <div class="descriptionDiv">Name</div>
                        </td>
                        <td style="width:40%;">
                            <div class="descriptionDiv">Description</div>
                        </td>
                        <td style="width:25%;">
                            <div class="descriptionDiv">Value</div>
                        </td>
                        <td style="width:5%;">
                            <div class="descriptionDiv">Map</div>
                        </td>
                        <td style="width:5%;">
                            <div class="descriptionDiv">Log</div>
                        </td>
                        <td style="width:13%;">
                            <div class="descriptionDiv">Scanning Interval</div>
                        </td>
                        <td style="width:10%;">
                            <div class="descriptionDiv">Set</div>
                        </td>
                        <td style="width:11.5%;">
                            <div class="descriptionDiv">Get</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="device_settings">
            </div>
        </div>

    </div>
</div>


<!-- Modal  SET -->
<div class="modal fade" id="SetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content setModal">
            <div class="modal-body">
                <div class="titileGroupSet">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Description</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_description"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">OID</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_oid"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Value</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_value"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">DataType</div>
                            </td>
                            <td width="90%;">
                                <div class="descriptionDiv" id="set_datatype"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Set Value</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="set_send_value">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-left:325px; margin-top:3px;">
                    <button type="button" class="btn btn-info" id="SendSet" data-dismiss="modal" style="width:50px; height:22px;line-height:9px; font-size:11px; ">Send</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="width:50px; height:22px; line-height:9px; font-size:11px;">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal  LogMap Setting -->

<div class="modal fade" id="LogMapSetting" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content logmapModal">
            <div class="modal-body" id="logMapSetting">
                <div class="value-setting" style="display:none">
                    <div class="valueIndicator indicatorOne">
                        <span class="numberIndicator" id="valueOne">0</span>
                        <span class="bottomArrow"></span>
                    </div>
                    <div class="valueIndicator indicatorTwo" style="left:0%">
                        <span class="topArrow"></span>
                        <span class="numberIndicator" id="valueTwo">200</span>
                        <span class="bottomArrow"></span>
                    </div>
                    <div class="valueIndicator indicatorThree">
                        <span class="topArrow"></span>
                        <span class="numberIndicator" id="valueThree">400</span>
                        <span class="bottomArrow"></span>
                    </div>
                    <div class="valueIndicator indicatorFour">
                        <span class="topArrow"></span>
                        <span class="numberIndicator" id="valueFour">600</span>
                        <span class="bottomArrow"></span>
                    </div>
                    <div class="valueIndicator indicatorFive">
                        <span class="topArrow"></span>
                        <span class="numberIndicator" id="valueFive">800</span>
                        <span class="bottomArrow"></span>
                    </div>
                    <div class="valueIndicator indicatorSix">
                        <span class="topArrow"></span>
                        <span class="numberIndicator" id="valueSix">1000</span>
                    </div>
                </div>
                <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:106%;">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Damage</div>
                            </td>
                            <td width="90%;">
                                <div id="slider-range-one" class="slider-two"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Minor flaw</div>
                            </td>
                            <td width="90%;">
                                <div id="slider-range-two" class="slider-two"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">OK</div>
                            </td>
                            <td width="90%;">
                                <div id="slider-range-three" class="slider-Three"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td width="10%;">
                                <div class="descriptionDiv">Minor flaw</div>
                            </td>
                            <td width="90%;">
                                <div id="slider-range-four" class="slider-Four"></div>
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Damage</div>
                            </td>
                            <td style="width:90%;">
                                <div id="slider-range-five" class="slider-Five"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div style="margin-top: -45px;">
                        <input class="deviceInput inputField gradient" id="value_logmap_min" placeholder="min"  style="outline: none; color: white;width:45px; margin-top:11px;" value="" type="text" hidefocus="true">
                        <input class="deviceInput inputField gradient" id="value_logmap_max" placeholder="max" value="" type="text" hidefocus="true" style="outline: none; color: white;width:45px; margin-top:11px;">
                        <button type="button" class="btn btn-default btn-sm" id="value_logmap_button" style="width:50px;height: 20px; margin-left: -3px; margin-top:10px;">Add</button>
                        <input class="deviceInput inputField gradient" id="divided_multiply" placeholder="div/mod" value="" type="text" hidefocus="true"  style="outline: none; color: white;width:50px; margin-top:11px; margin-left:10px;">
                        <button type="button" class="btn btn-info" id="sendLogMapSetting" data-dismiss="modal">Save</button>
                    </div>
               
                    
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal  Version -->
<div class="modal fade" id="VersionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content versionModal" style="margin-left:20%; margin-top:20%;">
            <div class="modal-body">
                <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:110%;">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Read Community</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="read_community" style="color: white;background-color: #515862" value="public">
                            </td>
                        </tr>
                        <tr class="streamsInfo" id="header_device">
                            <td style="width:10%;">
                                <div class="descriptionDiv">Write Community</div>
                            </td>
                            <td style="width:90%;">
                                <input type="text" class="form-control" id="write_community" style="color:white;background-color: #515862" value="private">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="IPModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content setModal" style="width:330px;height:33px;">
            <div class="modal-body">
                <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:106%;">
                    <table>
                        <tr class="streamsInfo" id="header_device">
                            <td width="5%;">
                                <div class="descriptionDiv">IP</div>
                            </td>
                            <td style="width:80%;">
                                <input type="text" class="form-control" id="ip_address">
                            </td>
                            <td width="10%">
                                <div style=" margin-top:3px;">
                                    <button type="button" class="btn btn-info" id="add_device_inf" data-dismiss="modal" data-toggle="modal" style="width:50px; height:22px;line-height:9px; font-size:11px; ">add</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal  DeviceUnknow -->
<div class="modal fade" id="existingDevice" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content existingDevice" style=" max-height: 100px;max-width: 350px;background: url(/image/comment-bg2.png) repeat;">
            <div class="modal-body">
                <div class="titileGroup">
                    <table>
                        <thead>
                            <tr>
                                <th style="font-size:18px;">
                                    These data are available in the database of the data , This requires a lot of time, do you wish to fill in the information?
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="margin-left:275px; margin-top:3px;">
                    <table>
                        <thead>
                            <tr>
                                <td style="position: absolute; margin-left: -61px;">
                                    <button type="button" class="btn btn-info" id="SendFill" data-dismiss="modal" style="width:50px; height:22px;line-height:9px; font-size:11px; ">Yes</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default" id="notTrapFill" data-dismiss="modal" style="width:50px; height:22px; line-height:9px; font-size:11px;">No</button>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
<script src="~/signalr/Hubs"></script>*@
<script>
    //var counter;
    var idTarget, title;
    $(document).ready(function () {

        //var con = $.hubConnection();
        //var hub = con.createHubProxy('hubMessage');
        //hub.on('onHitRecorded', function (i) {
        //    $("#start_log").css('color',i);
        //});
        //con.start(function () {
        //    hub.invoke('Send');
        //});

        //hub.client.addGame = function (game) {
        //    $("#start_log").css('background-color', game);
        //};
        //$.connection.hub.start();

        $('.devInfo').hide();

        window.onload = loadDiagram();

        $(window).on("beforeunload", function (e) {
            //  saveDiagram();
        });

        $('#countries li').draggable({
            helper: 'clone',
            revert: 'invalid'
        });
        $('.tower').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('#LogMapSetting').draggable();
    });

</script>
