
@{
    ViewBag.Title = "Index";
    var countrieName = ViewBag.countrieName;
}

<link href="~/Content/Style/style.css" rel="stylesheet" />
<link href="~/Content/Style/main.css" rel="stylesheet" />
<link href="~/Content/Style/display.css" rel="stylesheet" />
<link href="~/Content/Style/DeviceInput.css" rel="stylesheet" />
<link href="~/Content/Style/cusel.css" rel="stylesheet" />
@*<link href="~/Content/Style/CheckedStyle.css" rel="stylesheet" />*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.5.7/css/jsplumbtoolkit-defaults.css" rel="stylesheet" />

<div id="leftDiv">
    <!-- Information about device -->
    <div id="deviceInfo">
        <ul id="menu">
            <!-- Device name -->
            <li>
                @*<span id="DevName">Device</span>*@
                <span id="DevName">Device </span>
                <span id="AddGroup" style="width: 60px;margin-left:198px; margin-top:-20px;">Add Group</span>
                <span id="Add" data-toggle="modal" data-target="#myModal" style="width: 60px;margin-left:198px; margin-top:20px;">Add</span>
                <ul id="deviceName" class="devInfo"></ul>

            </li>
            <!-- List of available interfaces -->
            <li>
                <span id="countrie">Countries</span>
                <ul id="countries" class="devInfo">
                    <li class="countries">
                        Countrie

                    </li>
                </ul>
            </li>
            <!-- List of available displays -->
            <li>
                <span id="tower_menu">Tower</span>
                <ul id="tower_drag" class="devInfo">
                    <li class="tower">
                        Tower
                    </li>
                </ul>
            </li>
            <!-- List of available audio output devices -->
            <li>
                <span id="Output">Output</span>
                <ul id="output" class="devInfo">
                    @*<li>
                        </li>*@
                </ul>
            </li>
            <!-- List of streams -->
            <li>
                <span id="Stream">Streams</span>
                <ul id="streams" class="devInfo">
                    @*<li class="stream">

                        </li>*@

                </ul>
            </li>

            <div id="add_device_partial">
                @*<li>
                        <div class="widget-container widget_categories widget_categories_filter boxed">
                            <div class="inner">
                                <ul>
                                    <li class="first gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="device_name" id="device_name" placeholder="Device Name" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                                    <li class="current-menu-item gradient "><div class="input_wrap"><input class=" deviceInput inputField gradient" name="manufacture_name" id="manufacture_name" placeholder="ManuFacture" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                                    <li class="gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="model_name" id="model_name" placeholder="Model" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                                    <li class="gradient"><div class="input_wrap"><input class="deviceInput inputField gradient" name="purpose_name" id="purpose_name" placeholder="Purpose" value="" type="text" hidefocus="true" style="outline: none; color: white"></div></li>
                                    <li>
                                        <input name="mib_file" type="file" id="FileUpload" accept="file/*" style="display: none">
                                        <span class="btn btn-send" style="opacity: 0.8; height:25px; padding-right:0px">
                                            <label class="btn btn-send" for="FileUpload" style="height: 25px; width: 100%; line-height:25px;">Browser</label>
                                        </span>
                                        <span class="btn btn-send" style="opacity: 0.8; height:25px; padding-right:0px;margin-top:3px">
                                            <label class="btn btn-send" for="FileUpload" style="height: 25px; width: 100%; line-height:25px;">Add</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>*@
            </div>
            @*<li>
                    <span id="Adapter">Adapters</span>
                    <ul id="adapters" class="devInfo">
                        <li class="adapter">
                            Adapter 0
                        </li>
                        <li class="adapter">
                            Adapter 1
                        </li>
                    </ul>
                </li>*@
        </ul>

        <!-- Buttons for saving, loading, clearing diagram and changing mode (This block is temporary) -->
        <!--<input type="button" id="save" name="save" value="save" />
        <input type="button" id="load" name="load" value="load" />-->
        @*<input type="button" id="clear" name="clear" value="Clear Diagram" class="btn" />
            <ul id="zoomButtons">
                <li><input type="button" id="zoomin" name="zoomin" value="Zoom in" class="btn" /></li>
                <li><input type="button" id="zoomout" name="zoomout" value="Zoom out" class="btn" /></li>
            </ul>*@
        <!--<button id="black">dark</button>
        <button id="white">light</button>-->
    </div>

    <div id="settingsDiv">

        </div>

</div>
<!-- Container for context menu. It appears only when user right clicks on one of the tables -->
@*<div id="contextMenuDiv">
        <ul class="contextmenu" id="context">
            <li><a href="" class="hideTable">Close</a></li>
        </ul>
    </div>*@

@*<table class="foo elementTable " name="title" id="">
    <tr class="tableHeader">
        <th class="thClass">
        <span class="header">stereo</span>
        <span class="settings">
        <img src="/Icons/pignon.png" style="width:17px; height:17px"alt="Settings" title="Settings" />
            </span></th></tr><tr><td class="add"><span class="addList">Add new link</span></td></tr></table>*@

@*</div>*@
<div id="mainDiv" name="mainDiv">

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content device_setting_style">
            <div class="modal-header" style="height:20px; margin-top:-5px;background: url(/image/comment-bg2.png) repeat;">
                <tr class="tableHeader">
                    <th class="thClass"><span class="header device_settings_name">Tower</span>
                     </th>
                </tr>
                <button type="button" class="close modal_hiden" data-dismiss="modal">&times;</button>
            </div>
            <div class="titileGroup" style="margin-left:15px;">
                <table style="margin-left:19%;">
                    <tr class="streamsInfo">
                        <td>Name</td>
                    </tr>
                </table>
                <table style="margin-top:-26px; margin-left:50%;">
                    <tr class="streamsInfo">
                        <td>Value</td>
                    </tr>
                </table>
                <table style="margin-top:-26px; margin-left:62.5%;">
                    <tr class="streamsInfo">
                        <td>Map</td>
                    </tr>
                </table>
                <table style="margin-top:-26px; margin-left:65.7%;">
                    <tr class="streamsInfo">
                        <td>Log</td>
                    </tr>
                </table>
                <table style="margin-top:-26px; margin-left:70.8%;">
                    <tr class="streamsInfo">
                        <td>Scanning Interval</td>
                    </tr>
                </table>
                <table style="margin-top:-26px; margin-left:80%;">
                    <tr class="streamsInfo">
                        <td>Set</td>
                    </tr>
                </table>
            </div>
            <div class="modal-body" id="device_settings" style="height:550px; color: #333; margin-top:-15px;">
           
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>

    </div>
</div>

<!-- Modal Group -->
@*<div>
        <div class="modal fade" id="groupModal" role="dialog">
            <div class="modal-dialog">
                <div class="widget-container widget_search styled boxed-velvet" style="width:250px;">
                    <div class="inner gradient">
                        <form method="get" id="searchform2" action="#">
                            <div class="clearfix">
                                <span class="btn btn-small" style="opacity: 2001;"><input type="button" id="create_group" value="create" hidefocus="true" style="outline: none;" class="gradient" data-dismiss="modal"></span>
                                <div class="input_wrap"><input class="inputField gradient" name="group_name" id="group_name" placeholder="Group Name" value="" type="text" hidefocus="true" style="outline: none; color: white"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

<script>
    //var counter;
    $(document).ready(function () {

        $('.devInfo').hide();


        window.onload = loadDiagram();

        $(window).on("beforeunload", function (e) {
            //saveDiagram();
        });
        //
        //var ListCount = 1;
        //$(document).on('click touch', '.addList', function () {
        //    var newtr = '<tr class="tableBody" id="' + ListCount + '_' + ListCount + '"><td class="tableConn">Link ' + (ListCount + 1) + '</td></tr>';
        //    ListCount += 1;
        //    $(newtr).insertBefore('.addList');

        //});
        //$('#DevName').click(function () {
        //    $("#deviceName").animate({ height: 'toggle', opacity: 'toggle' }, 300);
        //});1

        //$("#mainDiv").sortable({
        //    revert: true
        //});

        //$('#checked_add').click(function () {
        //    if ($('#city_checked').is(':checked') == true) {
        //        $('#checked_add').removeClass("checked").addClass("");
        //        $("#city_checked").prop('checked', false);
        //        alert("true");
        //    }
        // else {
        //        $('#checked_add').removeClass("").addClass("checked");
        //        $("#city_checked").prop('checked', true);
        //        alert("false");
        //    }
        //});

        var handled = false; var width;                                          // countries search and full countries
        $('body').on('click touchend', '#typeSelect', function (e) {
            width = $(this).width();
            if (e.type == "touchend") {
                handled = true;
                $('#typeDropDownList').css({ 'width': width + 12 }).toggle();
                $('.typeSelect li').css('widht', '93%');
            }
            else
                if (e.type == "click" && !handled) {
                    $('#typeDropDownList').css({ 'width': width + 12 }).toggle();
                    $.post("/DeviceGroup/countrieSearch", { CountrieName: CountrieName, StateName: StateName, CityName: CityName }, function (Response) {
                        $('#countrie_partial').html("");
                        $('#countrie_partial').html(Response);
                    }, 'text');
                }
                else {
                    handled = false;
                }
        });

        $('body').on('click touchend', '#typeDropDownList li', function () {
            var value = $(this).text();
            CountrieName = value;
            StateName = null;
            $('.header' + $('#typeDropDownList').attr('value')).text(value);
            $('#typeSelect #countrie').text(value);
            $('#typeDropDownList').css({ 'width': width + 12 }).toggle();
        });

        var handledstate = false;                                           // states search and full states
        $('body').on('click touchend', '#typeSelectState', function (e) {
            var width = $(this).width();
            if (e.type == "touchend") {
                handledstate = true;
                $('#typeDropDownListState').css({ 'width': width + 12 }).toggle();
            }
            else
                if (e.type == "click" && !handledstate) {
                    $('#typeDropDownListState').css({ 'width': width + 12 }).toggle();
                    CountrieName = $('#typeSelect #countrie').text();
                    //alert($('#countrie').attr("value"));
                    //alert($('#countrie').text());
                    $.post("/DeviceGroup/stateSearch", { CountrieName: CountrieName, CityName: CityName }, function (Response) {
                        $('#state_partial').html("");
                        $('#state_partial').html(Response);
                    }, 'text');
                }
                else {
                    handledstate = false;
                }

        });

        $('body').on('click touchend', '#typeDropDownListState li', function () {
            var value = $(this).text();
            StateName = value;
            $('#typeSelectState #state').text(value);
            $('#state' + $('#typeDropDownListState').attr("value")).text(value);
            $('#typeDropDownListState').css({ 'width': width + 12 }).toggle();

        });

        var handledcity = false;
        $('body').on('click touchend', '#typeSelectCity', function (e) {
            var width = $(this).width();
            if (e.type == "touchend") {
                handledcity = true;
                $('#typeDropDownListCity').css({ 'width': width + 12 }).toggle();
            }
            else
                if (e.type == "click" && !handledcity) {
                    $('#typeDropDownListCity').css({ 'width': width + 12 }).toggle();
                    CountrieName = $('#typeSelect #countrie').text();
                    StateName = $('#state').text();
                    $.post("/DeviceGroup/citySearch", { CountrieName: CountrieName, StateName: StateName, CityName: CityName }, function (Response) {
                        $('#city_partial').html("");
                        $('#city_partial').html(Response);
                    }, 'text');
                }
                else {
                    handledcity = false;
                }

        });

        $('#countrie').click(function () {
            $("#countries").animate({ height: 'toggle', opacity: 'toggle' }, 300);
        });

        $('#countries li').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('#deviceName li').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        $('#tower_menu').click(function () {
            $("#tower_drag").animate({ height: 'toggle', opacity: 'toggle' }, 300);
        });

        $('.tower').draggable({
            helper: 'clone',
            revert: 'invalid'
        });

        function foo() {
            $('.foo').each(function () {
                //Making dropped elements draggable again
                $(this).draggable({
                    //containment: $(this).parent(),
                    stack: '.foo',
                    grid: [10, 10],
                    drop: function (event, ui) {
                        var pos = ui.draggable.offset(), dPos = $(this).offset();
                    },
                    drag: function () {
                        //jsPlumb.addToDragSelection($('.foo'));
                        var draggedItemId = $(this).attr('id');
                        $('.contextmenu').hide();
                        $(this).css({ 'z-index': '11' });
                        $(".class" + draggedItemId).css({ 'z-index': '15' });
                        //saveDiagram();
                    },
                    stop: function () {
                        var draggedItemId = $(this).attr('id');
                        $(this).css({ 'z-index': '0' });
                        $(".class" + draggedItemId).css({ 'z-index': '10' });
                        if ($(this).position().left < 0) {
                            $(this).css({ 'left': '0' });
                        }
                        if ($(this).position().top < 0) {
                            $(this).css({ 'top': '0' });
                        }
                        saveDiagram();
                    }
                });
            });
        }

        var xCoordinate = 0;
        var yCoordinate = 0;
        var elem;
        var diagramLenght = $('.foo').length;
        $("#mainDiv").droppable({
            drop: function (ev, ui) {

                //if (!ui.draggable.hasClass('foo') && !ui.draggable.hasClass('display')) {
                var pos = ui.draggable.offset(), dPos = $(this).offset();
                var droppedTop = ui.position.top - $(this).offset().top + $('#mainDiv').scrollTop();;
                var droppedLeft = ui.position.left - $(this).offset().left + $('#mainDiv').scrollLeft();;
                var ids = $(this).attr("id");

                if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('countries')) {
                    diagramLenght = $('.foo').length;
                    var Class = ui.draggable.attr("class");
                    var title = ui.draggable.text().trim();
                    var item = $('<table class="foo elementTable ' + Class + '" name="' + title + '" id="' + (diagramLenght + 1) + '" style="left: ' + droppedLeft + 'px; top: ' + droppedTop + 'px;"><tr class="tableHeader"><th class="thClass"><span class="header' + (diagramLenght + 1) + '">' + title + '</span><span class="settings"><span id="state' + (diagramLenght + 1) + '"style="display:none">State</span><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr><tr><td class="add' + (diagramLenght + 1) + '"><span class="addList' + (diagramLenght + 1) + '"></span></td></tr></table>');
                    $(this).append(item);
                    diagramLenght++;
                    foo();
                    //saveDiagram();
                }
                if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('tower')) {
                    diagramLenght = $('.foo').length;
                    var Class = ui.draggable.attr("class");
                    var title = ui.draggable.text().trim();
                    var item = $('<table class="foo elementTable ' + Class + '" name="' + title + '" id="' + (diagramLenght + 1) + '" style="left: ' + droppedLeft + 'px; top: ' + droppedTop + 'px;"><tr class="tableHeader"><th class="thClass"><span class="header' + (diagramLenght + 1) + '">' + title + '</span><span class="settings"><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr><tr><td class="add' + (diagramLenght + 1) + '"><ul id="dropDivs" name="dropDivs"class="ui-droppable"></ul></td></tr></table>');
                    $(this).append(item);
                    diagramLenght++;
                    foo();
                }

                $("#dropDivs").droppable({
                    containment: '.foo',
                    drop: function (ev, ui) {
                        //diagramLenght = $('.foo').length;
                        //if (!ui.draggable.hasClass('foo') && !ui.draggable.hasClass('display')) {
                        var pos = ui.draggable.offset(), dPos = $(this).offset();
                        var droppedTop = ui.position.top - $(this).offset().top + $('#device_drag').scrollTop();;
                        var droppedLeft = ui.position.left - $(this).offset().left + $('#device_drag').scrollLeft();;

                        if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('device_list')) {
                            var Class = ui.draggable.attr("class");
                            var title = ui.draggable.text().trim(35);
                            var height = $(this).height();
                            var lenght = $('#dropDivs').length;
                            if (title.length > 35) {
                                title = title.substr(0, title.length - (title.length - 31)) + '...';
                            }
                            droppedTop = height;
                            var item = $('<table class="foo elementTable ' + Class + '" name="' + title + '" id="' + (diagramLenght) + '" style="left: ' + 3 + 'px; top: ' + droppedTop + 'px;min-width: 245px;"><tr class="tableBody tableHeader" style="display:inline-table"><th class="thClass"><span class="header' + diagramLenght + '">' + title + '</span><span class="device_settings"><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr></table>');
                            $(this).height(height + 35);
                            $(this).append(item);
                            //diagramLenght++;
                            foo();
                            addPoints();
                            saveDiagram();
                            //$("table tbody").sortable({
                            //    update: function (event, ui) {
                            //        $(this).children().each(function (index) {
                            //            $(this).find('td').last().html(index + 1)
                            //        });
                            //    }
                            //});
                            //saveDiagram();
                        }
                    }
                });
            }
        });
        //$(".device_list tbody").sortable();
        //$("#dropDivs ul").disableSelection();
        //$("#dropDivs").droppable({
        //    drop: function (ev, ui) {
        //        diagramLenght = $('.foo').length;
        //        //if (!ui.draggable.hasClass('foo') && !ui.draggable.hasClass('display')) {
        //        var pos = ui.draggable.offset(), dPos = $(this).offset();
        //        var droppedTop = ui.position.top - $(this).offset().top + $('#device_drag').scrollTop();;
        //        var droppedLeft = ui.position.left - $(this).offset().left + $('#device_drag').scrollLeft();;

        //        if (!ui.draggable.hasClass('foo') && ui.draggable.hasClass('device_list')) {
        //            var Class = ui.draggable.attr("class");
        //            var title = ui.draggable.text().trim();
        //            var item = $('<table class="foo elementTable ' + Class + '" name="' + title + '" id="' + (diagramLenght + 1) + '" style="left: ' + droppedLeft + 'px; top: ' + droppedTop + 'px;"><tr class="tableHeader"><th class="thClass"><span class="header' + (diagramLenght + 1) + '">' + title + '</span><span class="settings"><span id="state' + (diagramLenght + 1) + '"style="display:none">State</span><img src="/Icons/pignon.png" width="17px" height="17px" alt="Settings" title="Settings" /></span></th></tr><tr><td class="add' + (diagramLenght + 1) + '"><span class="addList' + (diagramLenght + 1) + '"></span></td></tr></table>');
        //            $(this).append(item);
        //            diagramLenght++;
        //            foo();
        //            //saveDiagram();
        //        }
        //    }
        //});



        function getElemByCoordinates(x, y) {
            elem = document.elementFromPoint(x, y);
        }

        $('.device_list').draggable();

        //$('#mainDiv').mouseup(function (e) {
        //    alert(e.target);
        //});

        //$("#mainDiv").on("mouseup", function (e) {
        //    var target = e.target;
        //});


        $('#device_drag td').click(function () {
            alert(":(");
        });
        //$(document).on('click touchend', '.tower', function () { // add device setting open
        //    parentId = $(this).closest($(".foo")).attr("id");
        //    alert(parentId);

        //});
        //$("#mainDiv .foo").draggable();
        //var mouseDown = false;
        //var prevCoords = { x: 0, y: 0 };

        $('#AddGroup').click(function () {
            saveDiagram();
            alert("save");
        });


        //$("#mainDiv").mousedown(function (e) {
        //    mouseDown = !$(e.target).closest('.foo').length;
        //}).mousemove(function (e) {
        //    var currentScrollX = $('#mainDiv').scrollLeft();
        //    var currentScrollY = $('#mainDiv').scrollTop();
        //    if (mouseDown) {
        //        $('#mainDiv').scrollLeft(currentScrollX + prevCoords.x - e.clientX)
        //        $('#mainDiv').scrollTop(currentScrollY + prevCoords.y - e.clientY)
        //    };
        //    prevCoords.x = e.clientX;
        //    prevCoords.y = e.clientY;
        //}).mouseup(function () {
        //    mouseDown = false;
        //});

        //$('.foo').on('drag', function () {
        //    alert("sa");
        //    if ($(this).left() == 0) {
        //        return false;
        //    }
        //});
    });

</script>

<style>
    .dropdown-wrap,
    .widget_search.styled,
    .widget_profile {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        box-shadow: 0 16px 20px -8px rgba(0, 0, 0, 0.3);
        margin-bottom: 50px;
    }

    .widget_search .inner {
        padding: 14px;
    }

    .widget_search .input_wrap {
        margin-right: 90px;
        position: relative;
    }

    .widget_search .btn,
    .newsletterBox .btn {
        float: right;
        margin-top: 1px;
    }

    .widget_search .input_wrap input {
        height: 33px;
        padding-left: 30px;
    }

    .widget_search input::-webkit-input-placeholder {
        color: #a4a4a4;
    }

    .widget_search input:-moz-placeholder {
        color: #a4a4a4;
    }

    .widget_search .input_icon {
        background: url(images/icons/search.png);
        width: 16px;
        height: 16px;
        left: 10px;
        top: 9px;
        right: auto;
    }
</style>

