@{
    var gps = ViewBag.MapGPS;
}
<html>
<head>
    <link href="~/Content/Style/main.css" rel="stylesheet" />
    <title>Styled Maps - Night Mode</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .removeLine {
            display: block;
            height: 80px;
            width: 320px;
            border-top: 1px solid rgba(0,0,0,0.3);
            background: url(/image/comment-bg2.png) repeat;
            border-collapse: collapse;
            position: absolute;
            margin-left: 40%;
            z-index: 1;
        }
     
    </style>
</head>
<body>

    <div class="modal-content removeLine" style="display:none">
        <div class="modal-body">
            <div class="titileGroup" style="margin-left: -13px; margin-top: -13px; width:106%;">
                <table>
                    <tr style="font-size:15px;">
                        <th style="position:absolute;margin-left:17%">Do you want to clear the line </th>
                    </tr>
                </table>
                <button type="button" class="btn btn-info" id="remove_line" data-dismiss="modal" style="width: 65px;height: 22px;line-height: 8px; font-size: 11px; margin-left: 172px; margin-top: 50px;">Remove</button>
                <button type="button" class="btn btn-default" id="close_line" style="width: 65px;height: 22px;line-height: 9px;font-size: 11px; margin-top: 50px;">Close</button>
            </div>
            <div style="margin-left:325px; margin-top:3px;">

            </div>
        </div>
    </div>
    @* <button type="button" class="btn btn-info" id="remove_line" style="width: 65px;height: 22px;line-height: 8px; font-size: 11px; margin-left: 172px; margin-top: 50px;position:absolute">style</button>*@
    @*<button type="button" class="btn btn-default" id="close_line" style="width: 65px;height: 22px;line-height: 9px;font-size: 11px; margin-top: 50px;position:absolute"></button>*@
    <div id="map"></div>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/signalr/Hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var con = $.hubConnection();
            var hub = con.createHubProxy('hubMessage');
            hub.on('onHitRecorded', function (i) {
                $("#towerColor").css('background-color', i);
                $("#towerColor").css('color', 'black');
            });
            con.start(function () {
                hub.invoke('Send');
            });

            jQuery('.gm-style-iw').prev('div').remove();
            jQuery('.gm-style-iw').next().remove();
            $('.gm-style-iw').parent().parent().css('top', '30px');
            $('.gm-style-iw').parent().parent().css('left', '10px');
        });
    </script>

    <script type="text/javascript">
        var listgps = @Html.Raw(Json.Encode(ViewBag.MapGPS));
        var towerLine = @Html.Raw(Json.Encode(ViewBag.TowerLine));
        var mapStart =@Html.Raw(Json.Encode(ViewBag.Start));
        var mapstyle=@Html.Raw(Json.Encode(ViewBag.Style));
        var arra = new Array();
        var linearray = new Array();
        var marker = new Array();
        var styles;
            var LineConnection = [];
            var LC = [],removeList=[];
            var startposition, finishposition, startparent, cordXP, cordYP, cordXC, cordYC,manJump=0;
            var markerAnimation, removelineInd = 0, addline = 0, ind = 0, removePosition, lineLenght = 0, clickInd = 0, lineLenghtList = 0, parentTowerID, childTowerID, parentposition, childposition;
            var RemoveLine, flightPath = new Array();
            var newstyle = [
                 {
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#1d2c4d"
                         }
                     ]
                 },
                 {
                     "elementType": "labels",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#8ec3b9"
                         }
                     ]
                 },
                 {
                     "elementType": "labels.text.stroke",
                     "stylers": [
                         {
                             "color": "#1a3646"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative",
                     "stylers": [
                         {
                             "weight": 2
                         }
                     ]
                 },
                 {
                     "featureType": "administrative",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "weight": 1.5
                         }
                     ]
                 },
                 {
                     "featureType": "administrative",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.country",
                     "stylers": [
                         {
                             "weight": 2.5
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.country",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.country",
                     "elementType": "geometry.stroke",
                     "stylers": [
                         {
                             "color": "#4b6878"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.land_parcel",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#64779e"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.locality",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.locality",
                     "elementType": "geometry.stroke",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.neighborhood",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.province",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "administrative.province",
                     "elementType": "geometry.stroke",
                     "stylers": [
                         {
                             "color": "#4b6878"
                         },
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "landscape.man_made",
                     "elementType": "geometry.stroke",
                     "stylers": [
                         {
                             "color": "#334e87"
                         }
                     ]
                 },
                 {
                     "featureType": "landscape.natural",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#023e58"
                         }
                     ]
                 },
                 {
                     "featureType": "poi",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#283d6a"
                         }
                     ]
                 },
                 {
                     "featureType": "poi",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#6f9ba5"
                         }
                     ]
                 },
                 {
                     "featureType": "poi",
                     "elementType": "labels.text.stroke",
                     "stylers": [
                         {
                             "color": "#1d2c4d"
                         }
                     ]
                 },
                 {
                     "featureType": "poi.park",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "color": "#023e58"
                         }
                     ]
                 },
                 {
                     "featureType": "poi.park",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#3C7680"
                         }
                     ]
                 },
                 {
                     "featureType": "road",
                     "stylers": [
                         {
                             "visibility": "off"
                         }
                     ]
                 },
                 {
                     "featureType": "road",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#304a7d"
                         }
                     ]
                 },
                 {
                     "featureType": "road",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#98a5be"
                         }
                     ]
                 },
                 {
                     "featureType": "road",
                     "elementType": "labels.text.stroke",
                     "stylers": [
                         {
                             "color": "#1d2c4d"
                         }
                     ]
                 },
                 {
                     "featureType": "road.highway",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#2c6675"
                         }
                     ]
                 },
                 {
                     "featureType": "road.highway",
                     "elementType": "geometry.stroke",
                     "stylers": [
                         {
                             "color": "#255763"
                         }
                     ]
                 },
                 {
                     "featureType": "road.highway",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#b0d5ce"
                         }
                     ]
                 },
                 {
                     "featureType": "road.highway",
                     "elementType": "labels.text.stroke",
                     "stylers": [
                         {
                             "color": "#023e58"
                         }
                     ]
                 },
                 {
                     "featureType": "transit",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#98a5be"
                         }
                     ]
                 },
                 {
                     "featureType": "transit",
                     "elementType": "labels.text.stroke",
                     "stylers": [
                         {
                             "color": "#1d2c4d"
                         }
                     ]
                 },
                 {
                     "featureType": "transit.line",
                     "elementType": "geometry.fill",
                     "stylers": [
                         {
                             "color": "#283d6a"
                         }
                     ]
                 },
                 {
                     "featureType": "transit.station",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#3a4762"
                         }
                     ]
                 },
                 {
                     "featureType": "water",
                     "elementType": "geometry",
                     "stylers": [
                         {
                             "color": "#0e1626"
                         }
                     ]
                 },
                 {
                     "featureType": "water",
                     "elementType": "labels.text.fill",
                     "stylers": [
                         {
                             "color": "#4e6d70"
                         }
                     ]
                 }
             ]


            function initMap() {
            // Styles a map in night mode.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 42.215407, lng: 43.656892 },
                zoom: 8.7,
                panControl: true,
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false,
                provinceControl: false,
                mapTypeControl: false
                });
            //$.post("/Map/style", {}, function (response) {
            //    styles = JSON.parse(response);
            //    map.setOptions({ styles: styles });
            //}, 'json');

            //styles = JSON.parse(mapStart);
            //map.setOptions({ styles: styles });

          //  var newst = JSON.parse(mapStart);
            map.setOptions({ styles: newstyle });

            var myCenter = new google.maps.LatLng(42.280200, 42.736320);
            var image = {
                url: "../image/mapImage/antenna.gif", // url
                size: new google.maps.Size(50, 50),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(40, 40),

            };
            var img = {
                url: "../image/mapImage/pegman.png", // url
                size: new google.maps.Size(50, 50),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(5, 5),
                scaledSize: new google.maps.Size(15, 15),

            };
            if (towerLine.length > 0) {

                $.each(towerLine, function (j, value) {
                    if (cordXP == value.parentlattitube && cordYP == value.parentlongitube) {
                        startposition = new google.maps.LatLng(value.parentlattitube, value.parentlongitube);
                        LC.push(new google.maps.LatLng(value.childlattitube, value.childlongitube));
                    }
                    else {
                        if (startposition != null) {
                            LineConnection.push({ startposition, LC, flightPath });
                        }
                        LC = [];
                        flightPath = [];
                        LC.push(new google.maps.LatLng(value.childlattitube, value.childlongitube));
                        startposition = new google.maps.LatLng(value.parentlattitube, value.parentlongitube);
                        cordXP = value.parentlattitube;
                        cordYP = value.parentlongitube;
                    }
                     childposition = new google.maps.LatLng(value.childlattitube, value.childlongitube);
                    flightPath.push(new google.maps.Polyline({
                        path: [startposition, childposition],
                        geodesic: true,
                        strokeColor: '#009900',
                        strokeOpacity: 1,
                        strokeWeight: 2,
                        map: map,
                        icons: [{
                            icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
                            offset: '100%',
                            repeat: '80px'
                        }]
                    }));
                });
                }

                var contentString = '<div style="background-color: rgb(51, 51, 51); color: rgb(0, 0, 0);font-weight: normal; width: 100px;  height: 25px; text-align: center; text-align - last: auto; line-height: 22px;" id="towerColor">წალკა</div>';

                $.each(listgps, function (i, val) {
                  
                    var infowindows = new google.maps.InfoWindow({
                        content: contentString
                    });
                   
                   var  marker =new google.maps.Marker({
                    position: new google.maps.LatLng(val.lattitube, val.longitube),
                    map: map,
                    id: val.towerID,
                    icon: image,
                    type: 'point',
                    title: val.cityname
                    });
               
                    infowindows.open(map, marker);
                   
                    
              var infowindow = new google.maps.InfoWindow();                                             // marjvena gilakit monishvna da xazis gavlebis dawyeba
              google.maps.event.addListener(marker, 'rightclick', (function (marker, infowindow) {
                  return function () {
                 
                      if (marker.getAnimation() != null && manJump == 1) {
                          marker.setAnimation(null);
                          marker.setMap(null);
                          lineLenghtList = 0;
                          manJump = 0;
                          $.each(LineConnection, function (i, val) {
                              if (val.startposition== startposition) {
                                  lineLenghtList = 1;
                                  LineConnection[i].startposition = startposition;
                                  LineConnection[i].LC = LC;
                                  LineConnection.flightPath = flightPath;
                              }
                          });
                          if (lineLenghtList == 0) {
                              LineConnection.push({ startposition, LC, flightPath });
                          }
                          lineLenght += LC.length;
                          LC = [];
                          flightPath = [];
                          ind = 0;
                          startposition = null;
                      } else {
                          if (manJump == 0) {
                              manJump = 1;
                              marker = new google.maps.Marker({
                                  position: marker.position,
                                  map: map,
                                  id: marker.id,
                                  icon: img,
                                  animation: google.maps.Animation.BOUNCE
                              });
                              startposition = marker.position;
                              parentTowerID = marker.id;
                          }
                      }
                  };
              })(marker, infowindow));

              google.maps.event.addListener(marker, 'click', (function (marker, infowindow) {
                  return function () {
                      var lineSymbol = {
                          path: 'M 0,-1 0,1',
                          strokeOpacity: 1,
                          scale: 2
                      };

                      $.each(LineConnection, function (i, val) {

                          if (val.startposition.toString() == startposition.toString() /*&& val.startposition.lng() == startposition.lng()*/) {
                              flightPath = val.flightPath;
                              LC = val.LC;
                              ind = 0; clickInd = 0;
                              childTowerID = marker.id;
                              $.each(val.LC, function (j, value) {
                                  if (value.toString() == marker.position.toString() && flightPath[j] != null) {
                                      ind = 1;
                                      removePosition = j;
                                    $('.removeLine').css("display", "block");
                                      RemoveLine = new google.maps.Polyline({
                                      path: [startposition, marker.position],
                                      geodesic: true,
                                      strokeColor: '#ff0000',
                                      strokeOpacity: 1,
                                      strokeWeight: 2,
                                      map: map,
                                      icons: [{
                                          icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
                                          offset: '100%',
                                          repeat: '80px'
                                      }]
                                  });
                                  }
                              });

                          }
                      });
                      if (ind == 0) {
                          removelineInd = 0;
                          $.each(LC, function (i, val) {
                              if (val.toString() == marker.position.toString()) {
                                  removelineInd = 1;
                                  clickInd = 0;
                                  removePosition = i;
                                  $('.removeLine').css("display", "block");

                                  RemoveLine = new google.maps.Polyline({
                                      path: [startposition, marker.position],
                                      geodesic: true,
                                      strokeColor: '#ff0000',
                                      strokeOpacity: 1,
                                      strokeWeight: 2,
                                      map: map,
                                      icons: [{
                                          icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
                                          offset: '100%',
                                          repeat: '80px'
                                      }]
                                  });
                              }
                          });
                          if (removelineInd == 0) {
                              LC.push(marker.position);
                              flightPath.push(new google.maps.Polyline({
                                  path: [startposition, marker.position],
                                  geodesic: true,
                                  strokeColor: '#009900',
                                  strokeOpacity: 1,
                                  strokeWeight: 2,
                                  map: map,
                                  icons: [{
                                      icon: { path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW },
                                      offset: '100%',
                                      repeat: '80px'
                                  }]
                              }));
                              childTowerID = marker.id;
                              $.post("/Map/AddTowerLine", { parentTowerID: parentTowerID, childTowerID: childTowerID }, function () { }, 'json');
                          }
                      }
                          $('#close_line').click(function () {
                              if (clickInd == 0) {
                                  RemoveLine.setMap(null);
                                  $('.removeLine').css("display", "none");
                                  clickInd = 1;
                              }
                          });

                          $('#remove_line').click(function () {
                              if (clickInd == 0) {
                                  RemoveLine.setMap(null); /*RemoveLine.setMap(null); RemoveLine.setMap(null); RemoveLine.setMap(null);*/
                                  RemoveLine = null;
                                  flightPath[removePosition].setMap(null);
                                  flightPath[removePosition] = null;
                                  $('.removeLine').css("display", "none");
                                  LC[removePosition] = 0;
                                  clickInd = 1;
                                  $.post("/Map/RemoveTowerLine", { parentTowerID: parentTowerID, childTowerID: childTowerID }, function () { }, 'json');
                              }
                          });
                  };
              })(marker, infowindow));
            });
        }
          //  google.maps.event.addDomListener(window, 'load', initMap);

    </script>
    <script src="~/Content/ScriptView/style.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOjC5S0IeB6iri-m5G82-PNMu4EfyrqIs&callback=initMap"></script>
</body>
</html>