body {
}
.rotate {
    width: 10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#liveTable {
    width: 30%;
    margin-bottom: 0px;
    background-color: rgb(51, 51, 51);
    color: white;
}